@page "/debtscontroller"
@inject IPersonRepository _personRepository;
@inject JSRuntime _jsRuntime;

<_DeleteConfirmation></_DeleteConfirmation>
<div class="row bg-light justify-content-between pb-5 pt-4">
    <div class="col-6">
        <h4 class="card-title">Debts Controller Page</h4>
    </div>
    <div class="col-2 offset-4">
        <a href="debtscontroller/create" class="btn btn-primary">Add new Dividend</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        @if (People.Any())
        {
            <table class="table table-light">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Borrowed Cash</th>
                        <th>Installments</th>
                        <th>Paid Installments</th>
                        <th>Settled</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th colspan="2" align="right" class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PersonDTO person in People)
                    {
                        <tr>
                            <td>@person.Name</td>
                            <td>@person.Cash</td>
                            <td>@person.TimesInstallments</td>
                            <td>@person.PaidInstallments</td>
                            <td>@(person.Settled ? "Yes" : "No")</td>
                            <td>@person.CreatedDate</td>
                            <td>@person.UpdatedDate</td>
                            <td align="right" width="69"><NavLink href="@($"debtscontroller/edit/" + person.Id)" class="btn btn-primary">Edit</NavLink></td>
                            <td align="right" width="88"><button class="btn btn-danger" @onclick="() => HandleDelete(person.Id)">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                <div class="text-center">
                    <img src="/Images/loading.gif" />
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert"></div>
            }
        }
    </div>
</div>

@code {
    private bool IsLoading { get; set; } = true;
    private int DeleteCategoryId { get; set; } = 0;
    private IEnumerable<PersonDTO> People { get; set; } = new List<PersonDTO>();

    protected override async Task OnInitializedAsync() => await Task.Run(LoadPeople);

    private void LoadPeople()
    {
        People = _personRepository.GetAll();
        IsLoading = false;
    }

    private void HandleDelete(int id)
    {
        DeleteCategoryId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }
}
